#
# Copyright (c) 2021-2022 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

config LCZ_MEMFAULT
    bool "Enable Memfault integration"
	select MEMFAULT

if LCZ_MEMFAULT

module=LCZ_MEMFAULT
module-dep=LOG
module-str=LCZ_MEMFAULT
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

config LCZ_MEMFAULT_SOFTWARE_TYPE
	string "Software type"
	default "firmware"

config LCZ_MEMFAULT_HTTP_TRANSPORT
	bool "Enable HTTP data transport"
	select MEMFAULT_HTTP_ENABLE

config LCZ_MEMFAULT_MQTT_TRANSPORT
	bool "Enable MQTT data transport"
	depends on MQTT_LIB
	depends on LCZ_MQTT
	depends on ATTR

config LCZ_MEMFAULT_METRICS
	bool "Enable Memfault metrics tracking"
	select MEMFAULT_METRICS

config LCZ_MEMFAULT_FILE
	bool "Enable writing of memfault data to a file"
	depends on FILE_SYSTEM_UTILITIES

config MCUMGR_CMD_MEMFAULT_MGMT
        bool "Enable the memfault MCUMGR interface"
        depends on MCUMGR

config MGMT_GROUP_ID_MEMFAULT
        int "MCU manager group id for memfault management"
        default 66
	depends on MCUMGR_CMD_MEMFAULT_MGMT

endif # LCZ_MEMFAULT
