#
# Copyright (c) 2021 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

config LCZ_MEMFAULT
    bool "Enable Memfault integration"
	select MEMFAULT

if LCZ_MEMFAULT

config LCZ_MEMFAULT_LOG_LEVEL
	int "Memfault log level"
	default 3
	range 0 4

config LCZ_MEMFAULT_SOFTWARE_TYPE
	string "Software type"
	default "firmware"

config LCZ_MEMFAULT_HTTP_TRANSPORT
	bool "Enable HTTP data transport"
	select MEMFAULT_HTTP_ENABLE

config LCZ_MEMFAULT_MQTT_TRANSPORT
	bool "Enable MQTT data transport"
	depends on MQTT_LIB

if LCZ_MEMFAULT_MQTT_TRANSPORT

config LCZ_MEMFAULT_MQTT_TOPIC
	string "MQTT topic for publishing data"
	default "prod/%s/%s/memfault/%s/chunk"

config LCZ_MEMFAULT_MQTT_DATA_BUF_LENGTH
	int "MQTT data buffer length"
	default 1024
	help
	  Determines maximum size of data that can be sent at a time.

config MEMFAULT_TOPIC_MAX_SIZE
	int "Max topic size for memfault"
	default 128

endif # LCZ_MEMFAULT_MQTT_TRANSPORT

config LCZ_MEMFAULT_METRICS
	bool "Enable Memfault metrics tracking"
	select MEMFAULT_METRICS

config LCZ_MEMFAULT_FILE
	bool "Enable writing of memfault data to a file"
	depends on FILE_SYSTEM_UTILITIES

config MCUMGR_CMD_MEMFAULT_MGMT
        bool "Enable the memfault MCUMGR interface"
        depends on MCUMGR

config MGMT_GROUP_ID_MEMFAULT
        int "MCU manager group id for memfault management"
        default 66
	depends on MCUMGR_CMD_MEMFAULT_MGMT

endif # LCZ_MEMFAULT
