# Copyright Runtime.io 2018. All rights reserved.
# Copyright Nordic Semiconductor ASA 2020. All rights reserved.
# Copyright Laird Connectivity 2021. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

if MCUMGR

menuconfig LCZ_MCUMGR_CMD_OS_MGMT
	bool "Enable Laird Connectivity mcumgr handlers for OS management"
	select REBOOT
	depends on !MCUMGR_CMD_OS_MGMT
	help
	  Enables Laird Connectivity mcumgr handlers for OS management

if LCZ_MCUMGR_CMD_OS_MGMT

config LCZ_OS_MGMT_RESET_MS
	int "Delay before executing reset command (ms)"
	default 250
	help
	  When a reset command is received, the system waits this many milliseconds
	  before performing the reset.  This delay allows time for the mcumgr
	  response to be delivered.

config LCZ_OS_MGMT_TASKSTAT
	bool "Support for taskstat command"
	default y

config LCZ_OS_MGMT_ECHO
	bool "Support for echo command"
	default y

endif # LCZ_MCUMGR_CMD_OS_MGMT

endif # MCUMGR
