#
# Copyright (c) 2020 Laird Connectivity
#
menuconfig COMPONENT_LIB
    bool "Component Library"
        default y
        help
            Component Library

if COMPONENT_LIB

    rsource "drivers/piezo/Kconfig"
    rsource "drivers/vibemotor/Kconfig"
    rsource "drivers/accelerometer/Kconfig"

endif # COMPONENT_LIB

rsource "ble_common/Kconfig"
rsource "ble_services/Kconfig"
rsource "components/Kconfig"
rsource "utilities/Kconfig"
rsource "mcumgr_wrapper/Kconfig"
