#
# Copyright (c) 2020 Laird Connectivity
#
menuconfig COMPONENT_LIB
    bool "Component Library"
        default y
        help
            Component Library

if COMPONENT_LIB

    source "../zephyr_lib/drivers/piezo/Kconfig"

endif # COMPONENT_LIB