# Copyright (c) 2020, Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

config LED_PWM_NRFX
	bool "nRF LED PWM nrfx driver"
	default y
	depends on HAS_HW_NRF_PWM0 || HAS_HW_NRF_PWM1 || \
		   HAS_HW_NRF_PWM2 || HAS_HW_NRF_PWM3
	help
	  Enable support for nrfx Hardware LED PWM for nRF52 MCU series.
