#
# Copyright (c) 2020 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Laird Connectivity Zephyr Utilities"
	 default y

config JSON_LOG_ENABLED
	bool "Print JSON strings using printk"
	help
		JSON strings can be too large for LOG system.

config FILE_SYSTEM_UTILITIES
	bool "Helper functions for using file system"
	depends on FILE_SYSTEM
	depends on HEAP_MEM_POOL_SIZE > 0

if FILE_SYSTEM_UTILITIES

config FSU_LOG_LEVEL
    int "Log level for Parameters Module"
    range 0 4
    default 3

config FSU_HASH
	bool "Enable hash generation functions"
	depends on MBEDTLS

config FSU_HASH_CHUNK_SIZE
	int "Default chunk size for computing hash"
	depends on FSU_HASH
	default 1024
	help
		Chunk buffer and SHA256 context use heap.

config FSU_MOUNT_POINT
	string "Default mount point"
	default "/lfs"

config FSU_MAX_PATH_SIZE
	int "The maximum size of the file system mount + path"
	default 16
	help
		This must be large enough for the value of
		FSU_MOUNT_POINT and the folder name.
		"/lfs/app" "/lfs/hl7800" "/lfs/logs" "/lfs/certs"

config FSU_MAX_FILE_NAME_SIZE
	int "The maximum size of a file name."
	default 48
	help
		hl7800: 123.567.9ab.def_123.567.9ab.def.bin (15+1+15+4+1)=36
		app: 480-00070-R123.567.9ab.def_LTE-M_FOTA.bin (41+1)=42
		app: 480-00070-R123.567.9ab.def_NB-IoT_FOTA.bin (42+1)=43

config FSU_MAX_VERSION_SIZE
	int "The maximum size of a version string"
	default 16
	help
		123.567.9ab.def

config FSU_MAX_IMAGE_NAME_SIZE
	int "The maximum size of the image name"
	default 8
	help
		Examples: app, hl7800

config FSU_MAX_PRODUCT_NAME_SIZE
	int "The maximum size of a product name string"
	default 24
	help
		Examples: mg100, pinnacle-mg100, pinnacle-100-dvk, BT510

config FSU_SHELL
	bool "Enable the file system utility shell"
	help
		The built-in file system shell is often sufficient.
		This shell exposes features like pattern list and delete.

config FSU_REWRITE_SIZE_CHECK
	bool "Enable size check when rewriting a file (truncate)"

endif # FILE_SYSTEM_UTILITIES

endmenu
