#
# Copyright (c) 2020 Laird Connectivity
#
# It is provided "as is", without warranty/guarantee of any kind, express of
# implied, including but not limited to the warranties of merchantability,
# fitness for a particular purpose and non-infringement.
#

menu "Laird Connectivity Zephyr Utilities"
	 default y

config JSON_LOG_ENABLED
	bool "Print JSON strings using printk"
	help
		JSON strings can be too large for LOG system.

config PRINT_THREAD_LIST
	bool "Include function that prints lists of threads"
	depends on THREAD_MONITOR
	depends on THREAD_NAME
	depends on INIT_STACKS
	depends on THREAD_STACK_INFO

config PRINT_THREAD_MAX_NAME_LEN
	int "Max length of name printed in thread list"
	default THREAD_MAX_NAME_LEN
	depends on PRINT_THREAD_LIST

endmenu
