#
# Copyright (c) 2020 Laird Connectivity
#
# It is provided "as is", without warranty/guarantee of any kind, express of
# implied, including but not limited to the warranties of merchantability,
# fitness for a particular purpose and non-infringement.
#
menu "Laird Connectivity MCU Manager Wrapper"
	 depends on MCUMGR

config SIMPLE_BLUETOOTH
	bool "Advertise SMP Service for Firmware Update"
	depends on BT

config STATS_TICK_RATE_MS
	int "Timer tick rate for timer_ticks statistic"
	default 0

endmenu
