#
# Copyright (c) 2020 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig LCZ_MCUMGR_WRAPPER
	bool "Laird Connectivity MCU Manager Wrapper"
	depends on MCUMGR

if LCZ_MCUMGR_WRAPPER

config LCZ_MCUMGR_SIMPLE_BLUETOOTH
	bool "Advertise SMP Service for Firmware Update"
	depends on BT
	help
		This should not be selected if there is already a Bluetooth advertiser in project.

config LCZ_MCUMGR_STATS_TICK_RATE_MS
	int "Timer tick rate for timer_ticks statistic"
	depends on MCUMGR_CMD_STAT_MGMT
	default 0

endif # LCZ_MCUMGR_WRAPPER