#
# Copyright (c) 2020 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig LCZ_PARAMS
    bool "Enable Laird Connectivity Parameters Module"
    depends on FILE_SYSTEM
    depends on FILE_SYSTEM_UTILITIES
    depends on HEAP_MEM_POOL_SIZE > 0

if LCZ_PARAMS

config LCZ_PARAMS_LOG_LEVEL
    int "Log level for Parameters Module"
    range 0 4
    default 3

config LCZ_PARAMS_LOG_VERBOSE
    bool "Enable verbose debug logging for Parameters Module"
    depends on LCZ_PARAMS_LOG_LEVEL = 4

config LCZ_PARAMS_MOUNT_POINT
    string "File system mount point for Laird Connectivity parameters"
    default "/lfs"

config LCZ_PARAMS_PATH
    string "Folder (partial path) for parameters"
    default ""
    help
        The default location for parameters written by the cloud is
        "/lfs/params.txt".

config LCZ_PARAMS_MAX_FILE_LENGTH
    int "Maximum length of the parameter file"
    default 1000
    help
        This should be set by the code generator.

config LCZ_PARAMS_MAX_VALUE_LENGTH
    int "Maximum value of a parameter in hex/string form"
    default 96
    help
        This should be set by the code generator.

config LCZ_PARAMS_SHELL
	bool "Enable parameters shell"

endif # LCZ_PARAMS
