#
# Copyright (c) 2021 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig LCZ_APPROTECT
    bool "Enable the APPROTECT enablement feature"
    help
        A user application can call the functions to enable readback
        protection or CPU debug protection on supported silicon, which
        will enable it and optionally reboot the module if it is not
        currently enabled

if LCZ_APPROTECT

module=LCZ_APPROTECT
module-str=LCZ_APPROTECT
source "subsys/logging/Kconfig.template.log_config"

menuconfig LCZ_APPROTECT_STARTUP
    bool "Enabling start-up readback protection/CPU debug protection"
    help
        At start-up, before the kernel initiates, a task will be ran to
        enable the requested features which will then reboot the module
        to apply those settings

if LCZ_APPROTECT_STARTUP

config LCZ_APPROTECT_STARTUP_INIT_LEVEL
    int "Init Level"
    range 0 4
    default 0
    help
      0 - PRE_KERNEL_1
      1 - PRE_KERNEL_2
      2 - POST_KERNEL
      3 - APPLICATION
      4 - SMP

config LCZ_APPROTECT_STARTUP_INIT_PRIORITY
    int "Init priority"
    default 0

config LCZ_APPROTECT_STARTUP_READBACK_PROTECTION
    bool "Start-up readback protection enablement"
    default y

config LCZ_APPROTECT_STARTUP_CPU_DEBUG_PROTECTION
    bool "Start-up CPU debug protection enablement"
    default y

endif

endif # LCZ_APPROTECT
