#
# Copyright (c) 2022 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

# Splitting ADC and reset could make dependencies cleaner
# nothing else in zephyr wraps with CONFIG_REBOOT (mcumgr selects it).
config LCZ_POWER
	bool "Controls ADC and reset"
	select ADC
	select NRFX_SAADC
	select ADC_NRFX_SAADC
	select REBOOT

if LCZ_POWER

choice LCZ_POWER_TYPE
	prompt "Power monitoring type"
	default LCZ_POWER_TYPE_EXTERNAL if BOARD_MG100 || BOARD_PINNACLE_100_DVK
	default LCZ_POWER_TYPE_DIRECT if !(BOARD_MG100 && BOARD_PINNACLE_100_DVK)
	help
	  Type of power measurement (board dependent)

config LCZ_POWER_TYPE_DIRECT
	bool "Direct VDD measurement"
	help
	  Measure VDD voltage directly for voltage level determination.

config LCZ_POWER_TYPE_EXTERNAL
	bool "External input (voltage divider)"
	help
	  Measure voltage using external potential divider.

endchoice

config LCZ_POWER_LOG_LEVEL
	int "Log level for power module"
	range 0 4
	default 3

config LCZ_CUSTOM_FATAL_ERROR_HANDLER
	bool "Custom fatal error handler that resets on fatal error"
	depends on !BT_LL_NRFXLIB_DEFAULT

config LCZ_ADC_SAMPLE_PERIOD
	int "Number of seconds in between ADC readings"
	default 15

config LCZ_ADC_ALWAYS_SAMPLING
	bool "Keeps the ADC sampling always active regardless of BLE state"
	default y

config LCZ_POWER_POWER_FAILURE
	bool "Enable power failure comparator feature"
	depends on LCZ_POWER_TYPE_DIRECT

endif # LCZ_POWER
