# PWM configuration options

# Copyright (c) Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig PIEZO
	bool "Piezo Drivers"
	help
	  Enable config options for Piezo drivers.

if PIEZO

source "../zephyr_lib/drivers/piezo/Kconfig.nrfx"

endif # PIEZO
