# PIEZO configuration options

# Copyright (c) Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig PIEZO
	bool "Piezo Drivers"
	help
	  Enable config options for Piezo drivers.

if PIEZO

rsource "Kconfig.nrfx"

endif # PIEZO
