#
# Copyright (c) 2021 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig LCZ_BT_SECURITY
	bool "Enable Bluetooth security callback wrapper module"

if LCZ_BT_SECURITY

config LCZ_BT_SECURITY_INIT_PRIORITY
	int "Application level sys init priority"
	default 25

config LCZ_BT_SECURITY_MAX_USERS
	int "Maximum number of users of the module"
	range 1 32
	default 2

config LCZ_BT_SECURITY_HAS_DISPLAY
	bool "Set to true if device has a display for pairing info"
	help
		A display is required for MITM.

config LCZ_BT_SECURITY_HAS_KEYBOARD
	bool "Set to true if device has a keyboard for pairing info"
	help
		This must be true to be compatible with BT510.

config LCZ_BT_SECURITY_HAS_BUTTON
	bool "Set to true if device has passkey confirm button"
	help
		If has display and this are true,
		then passkey confirmation will be used.

config LCZ_BT_SECURITY_OOB_PAIRING
	bool "Enable the OOB data request callback"

config LCZ_BT_SECURITY_LOG_LEVEL
	int "Log level for Bluetooth Security module"
	range 0 4
	default 3

endif # LCZ_BT_SECURITY
