# Copyright (c) 2020, Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

config VIBEMOTOR_NRFX
	bool "nRF vibe motor nrfx driver"
	default y
	depends on HAS_HW_NRF_PWM0 || HAS_HW_NRF_PWM1 || \
		   HAS_HW_NRF_PWM2 || HAS_HW_NRF_PWM3
	help
	  Enable support for nrfx Hardware vibe motor for nRF52 MCU series.
