# VIBEMOTOR configuration options

# Copyright (c) Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig VIBEMOTOR
	bool "Vibe Motor"
	help
	  Enable config options for vibe motor.

if VIBEMOTOR

rsource "Kconfig.nrfx"

endif # VIBEMOTOR
